.linshouContent .bg-title-linshou{
	top:-4px;
	position:absolute;
	left:50%;
	margin-left:-85px;
}
.linshouContent{
	position:relative;
}
.linshouContent .jiaohuaji{
	background-position: -241px -272px;
	width: 40px;
	height: 38px;
	margin: 11px 0 0 8px;
}
.linshouContent .list-img{
	position: absolute;
	top: 50%;
	background-position: -177px -272px;
	width: 54px;
	height: 54px;
}
.linshouContent .list-img .text-gradient{
	position: absolute;
	left: 54px;
	width: 59px;
}
