.noticeContent .bg-title-notice{
	top:1px;
	position:absolute;
	left:50%;
	margin-left:-89.5px;
}
.noticeContent{
	position:relative;
}
.noticeContent .tab-head-item.col3{
	width:25%;
}
.noticeContent .sortInfo{
	color:#fff;
}
.noticeContent .sortInfo>li{
	background-position: 4px -160px;
	width: 326px;
	height: 29px;
	line-height: 29px;
}
.noticeContent .sortInfo>li:first-child{
margin-top: 10px;
}
.noticeContent .sortInfoControl{
color:#fff;
}
.noticeContent .sortInfoControl .prev {
	background-position: -245px -56px;
	width: 36px;
	height: 17px;
}
.noticeContent .sortInfoControl .next {
	background-position: -198px -56px;
	width: 37px;
	height: 17px;
}